body {
  background: #fffcf8;
  margin: 0;
}

.milestoneDescription--topleft-text {
  font-family: neueHaasUnicaBold;
  font-size: 15px;
  margin-left: 3vw;
  top: 5vh;
  height: 20vh;
  width: 20vw;
  text-transform: uppercase;
  position: relative;
}

.milestoneDescription--bottomleft-text-about {
  font-family: neueHaasUnicaBold;

  font-size: 17px;
  margin-left: 3vw;
  text-transform: uppercase;
  position: relative;
  top: 40vh;
}

hr {
  border-color: #000000;
}

.milestoneDescription--bottomleft-text-others {
  font-family: neueHaasUnicaBold;
  font-size: 17px;
  height: 20vh;
  width: 20vw;
  color: #808080;
  margin-left: 3vw;
  text-transform: uppercase;
  position: relative;
  top: 40vh;
}

.milestoneDescription-heading {
  font-family: neueHaasUnicaBold;
  font-size: 40px;
  text-transform: uppercase;
  position: relative;
  bottom: 24vh;
  height: auto;
  margin-left: 27vw;
  padding-bottom: 0;
}

.milestoneDescription-description {
  font-family: neueHaasUnicaRegular;
  font-size: 25px;
  margin-left: 27vw;
  margin-right: 27vw;
  height: auto;
  position: relative;
  bottom: 23vh;
  padding-bottom: 8vh;
}

.milestoneDescription-contractList {
  font-family: neueHaasUnicaRegular;
  font-size: 17px;
  margin-left: 27vw;
  margin-right: 20vw;
  text-transform: uppercase;
  color: #808080;
  text-transform: uppercase;

  position: relative;
  bottom: 20vh;
  padding-bottom: 4vh;
}

.grid-container-milestoneList-text {
  display: grid;
  grid-gap: 50px;
}

.milestoneDescription-list1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-family: neueHaasUnicaBold;
  font-size: 20px;
  margin-left: 25vw;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15vw;
}

.milestoneDescription-list2 {
  grid-column: 2 / span 3;
  grid-row: 1;
  font-family: neueHaasUnicaBold;
  font-size: 20px;
  margin-left: 25vw;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15vw;
  z-index: 2;
}

.milestoneDescription-Partner {
  font-family: neueHaasUnicaBold;
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
  margin-left: 27vw;
  height: 10vw;
  bottom: 10vh;
}
