/* body of the page
need not to be changed */
body {
  margin: 0;
  background-color: #fffcf8;
  color: #1a1a1a;
  z-index: -1;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* .nav-dark{
  background-color: #1a1a1a;
  color: #fff;
} */

/* navbar
need not to be changed */
/* responsive */
.nav, .nav-dark {
  top:0;
  text-transform: uppercase;
  height: 100vh;
  padding-left: 2vw;
  padding-right: 2vw;
  position: fixed;
  z-index: 100;
}

/* navbar elements styling */
.nav ul, .nav-dark ul {
  list-style: none;
  margin-top: 5vh;
  right: 7vw;
}

/* responsive */
.nav ul li a, .nav-dark ul li a{
  display: block;
  padding: .1vw;
  text-decoration: none;
  margin-right: 1vw;
}

.nav .icon, .nav-dark .icon{
  display:none;
}

/* to hide the text and only display the hamburger */
@media screen and (max-width: 768px) {
/* responsive */
 .nav ul li a, .nav-dark ul li a {
    display: none;
  }

/* responsive */
 .nav ul li a.icon,.nav-dark ul li a.icon {
    float: left;
    display: block;
    background-color: #fffcf8;
  }
}

/* responsive humburger from js
i.e. the Expand of the navbar */
@media screen and (max-width: 768px) {
  .nav.responsive, .nav-dark.responsive {
    position: fixed;
    background-color: #fff;
  }

/* the responsive navbar which opens on small screen doesn't supposed to be changed */
  .nav.responsive a.icon, .nav-dark.responsive a.icon {
    position: absolute;
    right: 0;
    left: 80vw;
    top: 0;
    margin-top: 2vh;
  }

  .nav.responsive a,.nav-dark.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* different tiers of the navbar */
/* responsive */
.topleft-text, .topleft-text a{
  font-weight: medium;
  color: #1a1a1a;
}

/* .topleft-text-dark, .topleft-text-dark a{
  font-weight: medium;
  color: #fff;
} */

.topleft-text a:hover,
.topleft-text-dark a:hover {
  color: #808080;
  text-decoration: none;
}

/* responsive */
.bottomleft-text, .bottomleft-text-dark{
  margin-top: 15vh;
}

.bottomleft-text a, .bottomleft-text-dark a{
  color: #777777;
}

.bottomleft-text a:hover, li .active{
  color: #1a1a1a;
  font-weight: bold;
}

/* .bottomleft-text-dark a{
  background-color: #1a1a1a;
} */

/* .bottomleft-text-dark a:hover,.bottomleft-text-dark .active{
  color: #fff;
  font-weight: bold;
} */

.nav-list-about,
.nav-list-rewind,
.nav-list-events,
.nav-list-starNights,
.nav-list-moneyMuffin,
.nav-list-partners,
.nav-list-team,
.nav-list-mood{
  position: relative;
}

.nav-list-about a:after,
.nav-list-rewind a:after,
.nav-list-events a:after,
.nav-list-starNights a:after,
.nav-list-moneyMuffin a:after,
.nav-list-partners a:after,
.nav-list-team a:after,
.nav-list-mood a:after{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  bottom: 0;
  left: 0;
  background-color: #000;
  /* visibility: hidden; */
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


/* body */
/* responsive */
main,  main .dark{
  margin-left: 25vw;
}

section {
  /* height: 100%;
  width: 100%; */
}

/* responsive */
.head, .head-dark{
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15vh;
}

/* .head-dark{
  color: #fff;
  background-color: #1a1a1a;
} */

/* responsive */
.description{
  color: #1a1a1a;
  text-align: justify;
}

/* .description-dark{
  color: #fff;
  text-align: justify;
} */

.text {
  margin-top: 5vh;
}

/* partners, moneyMuffin */

/* for expand and collapse btn */
/* do add the animation to these */
/* responsive */
#myBtn, #myBtn1, #myBtn2{
  text-transform: uppercase;
  background-color: #fffcf8;
  position: relative;
  color: #9d9b99;
  text-align: right;
  cursor: pointer;
}

/* .dark #myBtn, .dark #myBtn1, .dark #myBtn2, .dark #myBtn:hover, .dark #myBtn1:hover, .dark #myBtn2:hover{
  background-color: #1a1a1a;
  color: #fff;
} */

#myBtn:hover, #myBtn1:hover, #myBtn2:hover{
  text-decoration: underline;
  background-color: #fffcf8;
  border-color: none;
}

/* text that is being hidden by the button */
#more, #more1, #more2{
  display: none;
}

/* minor headings */
.subheading{
  text-transform: lowercase;
  color: #9d9b99;
  font-weight: medium;
  margin-top: 10vh;
}

/* part of minor headings */
/* responsive */
.cost{
  font-weight: medium;
}

/* starNights, Home, rewind */
/* image css */
/* responsive */
.img {
  width: 130%;
  height: auto;
  padding: 0 5% 2% 0;
  position: relative;
  margin-top: 10vh;
}


.text-below-image{
  text-transform: uppercase;
  text-align: right;
}

/* homePage links *needed to be copied on the money muffin and partners since no list has been made as such */
/* .list-dark .left_float a, .list-dark .right_float a, .list-dark .left_float a:hover, .list-dark .right_float a:hover{
  background-color: #1a1a1a;
  color: #fff;
} */


.text-above-image{
  margin-top: 10vh;
  margin-bottom: -10vh;
  margin-right: 15vw;
}

/* homepage css */
/* homePage links *needed to be copied on the money muffin and partners since no list has been made as such */
.left_float, .right_float{
  margin: 0;
  margin-top: 10vh;
  padding: 0;
  list-style: none;
  float: left;
  font-size: 22px;
  /* margin-right: 5vw; */
  display: block;
}

/* right float the list */
.right_float {
  float: right;
}

/* css to the lists anchor and these hover effect */
.left_float a, .right_float a, .left_float a:hover, .right_float a:hover{
  color: #1a1a1a;
  text-decoration: none;
}

 .left_float a:hover, .right_float a:hover{
   text-decoration: underline;
   font-weight: bold;
   font-size: 17px;
 }

/* the COSMOPOLITAN one *needed to be added on responsive */
.description-text-above-image{
  text-transform: uppercase;
  text-align: right;
}

/* events */
.position{
    position: relative;
    left: -2%;
    color: #000000;
    top: 5vh;
}
.position1{
    position: relative;
    left: 18%;
    color: #000000;
    top: 5vh;
}

.register a, .register a:hover{
  color: #1a1a1a;
  text-decoration: none;
  position: relative;
}

.register{
  position: relative;
}

.register :before{
  content:"";
  position: absolute;
  width:10%;
  height:2px;
  bottom: 0;
  left: 0;
  visibility: visible;
  background-color: #000;
  color: #ccc;
  -webkit-transform: scaleX(0);
  transform: scaleX(1);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  overflow: hidden;
}
.register :hover:before{
  width: 100%;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
overflow: hidden;
}

.heading{
    font-weight: bolder;
    /* display: inline-block; */
    font-size: 50px;
    font-family: "Playfair Display";
    text-transform: capitalize;
}

.mySlides {
  display: none;
}

.prev{
  float: left;
  margin-left: -5vw;
  cursor: pointer;
}

.txt-prev{
  float: right;
  margin-top: 2vh;
  margin-left: 2vw;
}

.next {
  float: right;
  /* right: 0; */
  border-radius: 3px 0 0 3px;
  margin-right: -5vw;
  cursor: pointer;
}

.txt-next{
  float: left;
  margin-top: 2vh;
  margin-right: 2vw;
}

.event-active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
