*{
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* body of the page
need not to be changed */
body {
  margin: 0;
  background-color: #fffcf8;
  color: #1a1a1a;
  z-index: -1;
}

/* .nav-dark{
  background-color: #1a1a1a;
  color: #fff;
} */

/* navbar
need not to be changed */
/* responsive */
.nav, .nav-dark {
  top:0;
  text-transform: uppercase;
  height: 100vh;
  padding-left: 2vw;
  padding-right: 2vw;
  position: fixed;
  z-index: 100;
}

/* navbar elements styling */
.nav ul, .nav-dark ul {
  list-style: none;
  margin-top: 5vh;
  right: 7vw;
}

/* responsive */
.nav ul li a, .nav-dark ul li a{
  display: block;
  padding: .1vw;
  text-decoration: none;
  margin-right: 1vw;
}

.nav .icon, .nav-dark .icon{
  display:none;
}

/* to hide the text and only display the hamburger */
@media screen and (max-width: 768px) {
/* responsive */
 .nav ul li a, .nav-dark ul li a {
    display: none;
  }

/* responsive */
 .nav ul li a.icon,.nav-dark ul li a.icon {
    float: left;
    display: block;
    background-color: #fffcf8;
  }
}

/* responsive humburger from js
i.e. the Expand of the navbar */
@media screen and (max-width: 768px) {
  .nav.responsive, .nav-dark.responsive {
    position: fixed;
    background-color: #fff;
  }

/* the responsive navbar which opens on small screen doesn't supposed to be changed */
  .nav.responsive a.icon, .nav-dark.responsive a.icon {
    position: absolute;
    right: 0;
    left: 80vw;
    top: 0;
    margin-top: 2vh;
  }

  .nav.responsive a,.nav-dark.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* different tiers of the navbar */
/* responsive */
.topleft-text, .topleft-text a{
  font-weight: medium;
  color: #1a1a1a;
}

/* .topleft-text-dark, .topleft-text-dark a{
  font-weight: medium;
  color: #fff;
} */

.topleft-text a:hover,
.topleft-text-dark a:hover {
  color: #808080;
  text-decoration: none;
}

/* responsive */
.bottomleft-text, .bottomleft-text-dark{
  margin-top: 15vh;
}

.bottomleft-text a, .bottomleft-text-dark a{
  color: #777777;
}

.bottomleft-text a:hover, li .active{
  color: #1a1a1a;
  font-weight: bold;
}

/* .bottomleft-text-dark a{
  background-color: #1a1a1a;
} */

.bottomleft-text-dark a:hover,.bottomleft-text-dark .active{
  color: #fff;
  font-weight: bold;
}


/* body */
/* responsive */
main,  main .dark{
  margin-left: 25vw;
}

section {
  /* height: 100%;
  width: 100%; */
}

/* responsive */
.head, .head-dark{
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15vh;
}

/* .head-dark{
  color: #fff;
  background-color: #1a1a1a;
} */

/* responsive */
.description{
  color: #1a1a1a;
  text-align: justify;
}

/* .description-dark{
  color: #fff;
  text-align: justify;
} */

.text {
  margin-top: 5vh;
}

/* partners, moneyMuffin */

/* for expand and collapse btn */
/* do add the animation to these */
/* responsive */
#myBtn, #myBtn1, #myBtn2{
  text-transform: uppercase;
  background-color: #fffcf8;
  position: relative;
  color: #9d9b99;
  text-align: right;
  cursor: pointer;
}

/* .dark #myBtn, .dark #myBtn1, .dark #myBtn2, .dark #myBtn:hover, .dark #myBtn1:hover, .dark #myBtn2:hover{
  background-color: #1a1a1a;
  color: #fff;
} */

#myBtn:hover, #myBtn1:hover, #myBtn2:hover{
  text-decoration: underline;
  background-color: #fffcf8;
  border-color: none;
}

/* text that is being hidden by the button */
#more, #more1, #more2{
  display: none;
}

/* minor headings */
.subheading{
  text-transform: lowercase;
  color: #9d9b99;
  font-weight: medium;
  margin-top: 10vh;
}

/* part of minor headings */
/* responsive */
.cost{
  font-weight: medium;
}

/* starNights, Home, rewind */
/* image css */
/* responsive */
.img {
  width: 130%;
  height: auto;
  padding: 0 5% 2% 0;
  position: relative;
  margin-top: 10vh;
}


.text-below-image{
  text-transform: uppercase;
  text-align: right;
}

/* homePage links *needed to be copied on the money muffin and partners since no list has been made as such */
/* .list-dark .left_float a, .list-dark .right_float a, .list-dark .left_float a:hover, .list-dark .right_float a:hover{
  background-color: #1a1a1a;
  color: #fff;
} */


.text-above-image{
  margin-top: 10vh;
  margin-bottom: -10vh;
  margin-right: 15vw;
}

/* homepage css */
/* homePage links *needed to be copied on the money muffin and partners since no list has been made as such */
.left_float, .right_float{
  margin: 0;
  margin-top: 10vh;
  padding: 0;
  list-style: none;
  float: left;
  font-size: 22px;
  /* margin-right: 5vw; */
  display: block;
}

/* right float the list */
.right_float {
  float: right;
}

/* css to the lists anchor and these hover effect */
.left_float a, .right_float a, .left_float a:hover, .right_float a:hover{
  color: #1a1a1a;
  text-decoration: none;
}

 .left_float a:hover, .right_float a:hover{
   text-decoration: underline;
   font-weight: bold;
   font-size: 17px;
 }

/* the COSMOPOLITAN one *needed to be added on responsive */
.description-text-above-image{
  text-transform: uppercase;
  text-align: right;
}
