.homePage--introImage {
  margin-left: 27vw;
  position: relative;
  max-width: 100%;
  height: auto;
  border: none;
}

.DJ-image {
  margin-left: 27vw;
  position: relative;
  max-width: 100%;
  height: auto;
  border: none;
}

.band-image {
  margin-left: 27vw;
  position: relative;
  max-width: 100%;
  height: auto;
  border: none;
}
.description-below-band {
  font-family: neueHaasUnicaRegular;
  font-size: 13px;
  margin-left: 75vw;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10vw;
}
.description-below-abstract {
  font-family: NeueHaasUnicaPro-Thin;
  font-size: 18px;
  margin-left: 27vw;
  text-transform: none;
  position: relative;
  padding-bottom: 10vw;
}

.heading-below-image {
  font-family: NeueHaasUnicaPro-Heavy;
  font-size: 45px;
  margin-left: 27vw;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
}
.description-below-DJ {
  font-family: neueHaasUnicaRegular;
  font-size: 20px;
  margin-left: 27vw;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 30vh;
}

.description-second {
  font-family: NeueHaasUnicaPro-Thin;
  font-size: 18px;
  margin-left: 27vw;
  text-transform: none;
  position: relative;
}

.event-description {
  font-family: NeueHaasUnicaPro-Light;
  font-size: 18px;
  margin-left: 27vw;
  position: relative;
  display: inline-block;
  text-transform: none;
  padding-bottom: 10vh;
}
.description {
  font-family: NeueHaasUnicaPro-Light;
  font-size: 15px;
  margin-left: 27vw;
  position: relative;
  display: inline-block;
  text-transform: none;
  padding-bottom: 10vh;
}

body {
  background: #000000;
  margin: 0;
}

.homePage--topleft-text {
  font-family: neueHaasUnicaBold;
  font-size: 15px;
  margin-left: 3vw;
  top: 5vh;
  color: #ffffff;
  height: 20vh;
  text-transform: uppercase;
  position: relative;
}

.homePage--bottomleft-text-about {
  font-family: neueHaasUnicaBold;
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}

.homePage--bottomleft-text-others {
  font-family: neueHaasUnicaBold;
  font-size: 15px;
  height: 20vh;
  width: 20vw;
  color: #808080;
  text-transform: uppercase;
  position: relative;
}

hr {
  border-color: #ffffff;
  border-bottom: 0;
}
.year-heading {
  font-family: NeueHaasUnicaPro-Heavy;
  font-size: 45px;
  margin-left: 27vw;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
}

.event-heading {
  font-family: NeueHaasUnicaPro-Heavy;
  font-size: 45px;
  margin-left: 27vw;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  padding-bottom: 2vw;
}
.abstract-image {
  margin-left: 27vw;
  position: relative;
  max-width: 100%;
  height: auto;
  border: none;
}
.grid-container-abstract-text {
  display: grid;
  grid-gap: 200px;
}
.year-heading-second {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-family: NeueHaasUnicaPro-Heavy;
  font-size: 45px;
  margin-left: 27vw;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
}

.description-above-abstract {
  grid-column: 2 / span 3;
  grid-row: 1;
  font-family: neueHaasUnicaRegular;
  font-size: 20px;
  margin-left: 27vw;
  text-transform: uppercase;
  position: relative;
}
.grid-container-event-text {
  display: grid;
  grid-gap: 200px;
}
.first-column-events {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-family: neueHaasUnicaRegular;
  font-size: 20px;
  margin-left: 27vw;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15vw;
}
.second-column-events {
  grid-column: 2 / span 3;
  grid-row: 1;
  font-family: neueHaasUnicaRegular;
  font-size: 20px;
  margin-left: 27vw;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 15vw;
  z-index: 2;
}
.local-train-image {
  margin-left: 27vw;
  position: relative;
  max-width: 100%;
  height: auto;
  border: none;
  padding-bottom: 15vw;
}
