.homePage--introImage {
  margin-left: 27vw;
  position: relative;
  max-width:100%;
  height: auto;
}
.DJ-image {
  margin-left: 27vw;
  position: relative;
  max-width: ;width : 100%;
  height: auto;
}
.band-image {
  margin-left: 27vw;
  position: relative;
  max-width: ;width : 100%;
  height: auto;
}
.description-below-band{
  font-family: neueHaasUnicaRegular;
  font-size: 13px;
  margin-left: 75vw;
  text-transform: uppercase;
  position: relative;
}

.heading-below-image{
  font-family: NeueHaasUnicaPro-Heavy;
  font-size: 30px;
  margin-left: 27vw;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
}
.description-below-DJ{
  font-family: neueHaasUnicaRegular;
  font-size: 20px;
  margin-left: 27vw;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20vh;
}

.description-second{
  font-family: NeueHaasUnicaPro-Thin;
  font-size: 18px;
  margin-left: 27vw;
  text-transform: none;
  position: relative;
}

.description{
  font-family: NeueHaasUnicaPro-Light;
  font-size: 15px;
  margin-left: 27vw;
  position: relative;
  display : inline-block;
  text-transform: none;
  padding-bottom: 10vh;

}

body {
  background: #000000;
  margin: 0;
}

.homePage--topleft-text {
  font-family: neueHaasUnicaBold;
  font-size: 15px;
  margin-left: 3vw;
  top: 5vh;
  color: #ffffff;
  height: 20vh;
  text-transform: uppercase;
  position: relative;
}

.homePage--bottomleft-text-about {
  font-family: neueHaasUnicaBold;
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}

.homePage--bottomleft-text-others {
  font-family: neueHaasUnicaBold;
  font-size: 15px;
  height: 20vh;
  width: 20vw;
  color: #808080;
  text-transform: uppercase;
  position: relative;
}

hr {
  border-color: #ffffff;
  border-bottom: 0;
}
.second-heading{
  font-family: NeueHaasUnicaPro-Heavy;
  font-size: 30px;
  margin-left: 27vw;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
}
