body {
  background: #000000;
  margin: 0;
}

.homePage--topleft-text {
  font-family: neueHaasUnicaBold;
  font-size: 15px;
  margin-left: 3vw;
  top: 5vh;
  color: #ffffff;
  height: 20vh;
  width: 20vw;
  text-transform: uppercase;
  position: relative;
}

.homePage--bottomleft-text-about {
  font-family: neueHaasUnicaBold;

  font-size: 15px;

  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  top: 28vh;
}

.homePage--bottomleft-text-others {
  font-family: neueHaasUnicaBold;
  font-size: 15px;
  height: 20vh;
  width: 20vw;
  color: #808080;

  text-transform: uppercase;
  position: relative;
  top: 28vh;
}

hr {
  border-color: #ffffff;
  border-bottom: 0;
}
