.homePage--introImage {
  margin-left: 27vw;
  position: relative;
  width : 100%;
  height: auto;
}
.heading-below-image{
  font-family: neueHaasUnicaRegular;
  font-size: 30px;
  margin-left: 27vw;
  text-transform: uppercase;
  position: relative;
  display : grid;
}


.description{
  font-family: neueHaasUnicaRegular;
  font-size: 13px;
  margin-left: 27vw;
  position: relative;
  display : inline-block;
}

body {
  background: #000000;
  margin: 0;
}

.homePage--topleft-text {
  font-family: neueHaasUnicaBold;
  font-size: 15px;
  margin-left: 3vw;
  top: 5vh;
  color: #ffffff;
  height: 20vh;
  text-transform: uppercase;
  position: relative;
}

.homePage--bottomleft-text-about {
  font-family: neueHaasUnicaBold;
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}

.homePage--bottomleft-text-others {
  font-family: neueHaasUnicaBold;
  font-size: 15px;
  height: 20vh;
  width: 20vw;
  color: #808080;
  text-transform: uppercase;
  position: relative;
}

hr {
  border-color: #ffffff;
  border-bottom: 0;
}
