.bottomleft-text a:before{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(1);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.bottomleft-text-dark a:before{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(1);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.bottomleft-text a:hover:before, .bottomleft-text-dark a:hover:before{
  width: 100%;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*.head a:before,*/ .residue::before{
  content:"";
  position: absolute;
  width:10%;
  height:2px;
  bottom: 0;
  left: 0;
  visibility: visible;
  background-color: #000;
  color: #ccc;
  -webkit-transform: scaleX(0);
  transform: scaleX(1);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* .head a:hover:before{
  width: 63%;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
} */

.residue:hover:before{
  width: 100%;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
