.container {
    width: 100%;
    height: 150vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

nav {
    padding: 40px;
    grid-column: 3;
    justify-self: end;
    z-index: 4;
}

nav a {
    margin: 0 20px 0 0;
    padding: 10px;
    text-decoration: none;
    font-size: 22px;
    color:#FFF;
    border-radius: 5px;
    transition: 0.3s
}

nav a:hover {
    color: orange;
}

.bgimage1 {
    background: url("/img/morecows.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bgimage2 {
    background: url("/img/cows-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.color-wipes-animate {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    left:0;
    position: fixed;
    top:0%;
    pointer-events: none;
    width: 100%;
    height: 100vh;
    z-index: 5;
}

.color-wipe {
    height: 100vh;
    width: 0%;
    background: #be2829;
    background-color: #fff;
    display: none;
}