.margin--x-small {
    margin:8vw;
    
}
.margin--small,{
    margin: 10vw;
   
}
.margin--medium,{
    margin: 13vw;
   
}
.margin--large,{
    margin: 16vw;
}
    
.margin--x-large,{
    margin: 20vw;
    
}

.margin--right-x-small{
    margin-right: 8vw;
}

.margin--right-small{
    margin-right: 8vw;
}

.margin--right-medium{
    margin-right: 8vw;
}

.margin--right-large{
    margin-right: 8vw;
}

.margin--right-x-large{
    margin-right: 8vw;
}

.margin--left-x-small{
    margin-left: 8vw;
}

.margin--left-small{
    margin-left: 8vw;
}

.margin--left-medium{
    margin-left: 8vw;
}

.margin--left-large{
    margin-left: 8vw;
}

.margin--left-x-large{
    margin-left: 8vw;
}

.margin--top-x-small{
    margin-top: 8vw;
}

.margin--top-small{
    margin-top: 8vw;
}

.margin--top-medium{
    margin-top: 8vw;
}

.margin--top-large{
    margin-top: 8vw;
}

.margin--top-x-large{
    margin-top: 8vw;
}


.margin--bottom-x-small{
    margin-bottom: 8vw;
}

.margin--bottom-small{
    margin-bottom: 8vw;
}

.margin--bottom-medium{
    margin-bottom: 8vw;
}

.margin--bottom-large{
    margin-bottom: 8vw;
}

.margin--bottom-x-large{
    margin-bottom: 8vw;
}

.padding--x-small {
    padding:8vw;
    
}
.padding--small,{
    padding: 10vw;
   
}
.padding--medium,{
    padding: 13vw;
   
}
.padding--large,{
    padding: 16vw;
}
    
.padding--x-large,{
    padding: 20vw;
    
}

.padding--right-x-small{
    padding-right: 8vw;
}

.padding--right-small{
    padding-right: 8vw;
}

.padding--right-medium{
    padding-right: 8vw;
}

.padding--right-large{
    padding-right: 8vw;
}

.padding--right-x-large{
    padding-right: 8vw;
}

.padding--left-x-small{
    padding-left: 8vw;
}

.padding--left-small{
    padding-left: 8vw;
}

.padding--left-medium{
    padding-left: 8vw;
}

.padding--left-large{
    padding-left: 8vw;
}

.padding--left-x-large{
    padding-left: 8vw;
}

.padding--top-x-small{
    padding-top: 8vw;
}

.padding--top-small{
    padding-top: 8vw;
}

.padding--top-medium{
    padding-top: 8vw;
}

.padding--top-large{
    padding-top: 8vw;
}

.padding--top-x-large{
    padding-top: 8vw;
}


.padding--bottom-x-small{
    padding-bottom: 8vw;
}

.padding--bottom-small{
    padding-bottom: 8vw;
}

.padding--bottom-medium{
    padding-bottom: 8vw;
}

.padding--bottom-large{
    padding-bottom: 8vw;
}

.padding--bottom-x-large{
    padding-bottom: 8vw;
}


