body {
  background: #fffcf8;
  margin: 0;
}

.moneyMuffin--topleft-text {
  font-family: neueHaasUnicaBold;
  font-size: 15px;
  margin-left: 3vw;
  top: 5vh;
  height: 20vh;
  width: 20vw;
  text-transform: uppercase;
  position: relative;
}

.moneyMuffin--bottomleft-text-about {
  font-family: neueHaasUnicaBold;

  font-size: 17px;
  margin-left: 3vw;
  text-transform: uppercase;
  position: relative;
  top: 40vh;
}

.moneyMuffin--bottomleft-text-others {
  font-family: neueHaasUnicaBold;
  font-size: 17px;
  height: 20vh;
  width: 20vw;
  color: #808080;
  margin-left: 3vw;
  text-transform: uppercase;
  position: relative;
  top: 40vh;
}

.moneyMuffin-heading {
  font-family: neueHaasUnicaBold;
  font-size: 40px;
  text-transform: uppercase;
  bottom: 24vh;
  margin-left: 27vw;
  height: 2vh;
  width: 100vw;
  position: relative;
  padding-bottom: 7vh;
}

.moneyMuffin-description {
  font-family: neueHaasUnicaRegular;
  font-size: 25px;
  margin-left: 27vw;
  margin-right: 27vw;
  height: auto;
  position: relative;
  bottom: 20vh;
  padding-bottom: 15vh;
}

.moneyMuffin-moreInformation {
  font-family: neueHaasUnicaRegular;
  font-size: 17px;
  margin-left: 27vw;
  bottom: 23vh;
  text-transform: uppercase;
  color: #808080;
  position: relative;
  padding-bottom: 5vh;
  height: auto;
}

.moneyMuffin-foodPartner {
  font-family: neueHaasUnicaBold;
  font-size: 20px;
  margin-left: 27vw;
  height: 25vh;
  bottom: 16vh;
  text-transform: uppercase;
  position: relative;
}

hr {
  border-color: #000000;
}

.moneyMuffin-67milestonePartners {
  font-family: neueHaasUnicaBold;
  font-size: 40px;
  position: relative;

  bottom: 3vh;
  margin-left: 27vw;
}

.moneyMuffin--67milestonePartners-description {
  font-family: neueHaasUnicaRegular;
  font-size: 25px;
  margin-left: 27vw;
  margin-right: 30vw;
  padding-bottom: 10vh;

  bottom: 12vh;
}

.moneyMuffin--67milestonePartners-listofPartners {
  font-family: neueHaasUnicaRegular;
  font-size: 17px;
  margin-left: 27vw;
  margin-right: 20vw;
  text-transform: uppercase;
  color: #808080;
  height: 5vw;
  text-transform: uppercase;
  position: relative;
  bottom: 0vh;
  padding-bottom: 10vh;
}

.moneyMuffin-67milestonePartners-2 {
  font-family: neueHaasUnicaBold;
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
  margin-left: 27vw;
  height: 10vw;
  bottom: 1vh;
}
