body {
  background: #fffcf8;
  margin: 0;
}

.moneymuffinDescription--topleft-text {
  font-family: neueHaasUnicaBold;
  font-size: 15px;
  margin-left: 3vw;
  top: 5vh;
  height: 20vh;
  width: 20vw;
  text-transform: uppercase;
  position: relative;
}

.moneymuffinDescription--bottomleft-text-about {
  font-family: neueHaasUnicaBold;

  font-size: 17px;
  margin-left: 3vw;
  text-transform: uppercase;
  position: relative;
  top: 40vh;
}

hr {
  border-color: #000000;
}

.moneymuffinDescription--bottomleft-text-others {
  font-family: neueHaasUnicaBold;
  font-size: 17px;
  height: 20vh;
  width: 20vw;
  color: #808080;
  margin-left: 3vw;
  text-transform: uppercase;
  position: relative;
  top: 40vh;
}

.moneymuffinDescription-heading {
  font-family: neueHaasUnicaBold;
  font-size: 40px;
  text-transform: uppercase;
  bottom: 24vh;
  margin-left: 27vw;
  height: 2vh;
  width: 100vw;
  position: relative;
  padding-bottom: 7vh;
}

.moneymuffinDescription-description {
  font-family: neueHaasUnicaRegular;
  font-size: 25px;
  margin-left: 27vw;
  margin-right: 27vw;
  height: auto;
  position: relative;
  bottom: 20vh;
  padding-bottom: 15vh;
}

.moneymuffinDescription-list {
  font-family: neueHaasUnicaBold;
  font-size: 20px;
  margin-left: 24vw;
  margin-right: 27vw;
  height: auto;
  position: relative;
  bottom: 10vh;
  padding-bottom: 5vh;
  text-transform: uppercase;
}

.moneymuffinDescription-collapse {
  font-family: neueHaasUnicaRegular;
  font-size: 17px;
  margin-left: 27vw;
  margin-right: 20vw;
  text-transform: uppercase;
  color: #808080;
  text-transform: uppercase;

  position: relative;
  bottom: 0vh;
  padding-bottom: 20vh;
}

.moneymuffinDescription-moneymuffin-foodPartner {
  font-family: neueHaasUnicaBold;
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
  margin-left: 27vw;
  height: 10vw;
  bottom: 1vh;
  padding-bottom: 70vh;
}
