body {
  background: #000000;
  margin: 0;
}

.partnerRanges--topleft-text {
  font-family: neueHaasUnicaBold;
  font-size: 15px;
  margin-left: 3vw;
  top: 6vh;
  color: #ffffff;
  height: 20vh;
  text-transform: uppercase;
  position: relative;
}

.partnerRanges--bottomleft-text-about {
  font-family: neueHaasUnicaBold;
  color: #ffffff;
  font-size: 17px;
  margin-left: 3vw;
  text-transform: uppercase;
  position: relative;
  top: 20vh;
}

.partnerRanges--bottomleft-text-others {
  font-family: neueHaasUnicaBold;
  font-size: 17px;
  height: 20vh;
  width: 20vw;
  color: #808080;
  margin-left: 3vw;
  text-transform: uppercase;
  position: relative;
  top: 20vh;
}
.partnerRanges--bottomleftranges-text-signature {
  font-family: neueHaasUnicaBold;
  color: #ffffff;
  font-size: 17px;
  margin-left: 3vw;
  text-transform: uppercase;
  position: relative;
  top: 35vh;
}

.partnerRanges--bottomleftranges-text-others {
  font-family: neueHaasUnicaBold;
  font-size: 17px;
  height: 20vh;
  width: 20vw;
  color: #808080;
  margin-left: 3vw;
  text-transform: uppercase;
  position: relative;
  top: 35vh;
}

.partnerRanges--heading {
  font-family: neueHaasUnicaBold;
  font-size: 30px;
  text-transform: uppercase;
  bottom: 45vh;
  margin-left: 27vw;
  height: 2vh;
  width: 100vw;
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 0vh;
}

.partnerRanges--description-premier {
  font-family: neueHaasUnicaRegular;
  font-size: 25px;
  margin-left: 27vw;
  margin-right: 27vw;
  height: auto;
  position: relative;
  bottom: 40vh;
  padding-bottom: 35vh;
  color: #ffffff;
}

.partnerRanges-business {
  font-family: neueHaasUnicaRegular;
  font-size: 17px;

  text-transform: uppercase;
  color: #808080;
  position: relative;
  padding-bottom: 0vh;
  height: auto;
}

.partnerRanges-expand {
  font-family: neueHaasUnicaRegular;
  font-size: 17px;
  margin-left: 70vw;
  bottom: 38vh;
  text-transform: uppercase;
  color: #808080;
  position: relative;
  padding-bottom: 20vh;
  height: auto;
}

hr.style2 {
  color: #808080;
  border-bottom: 0;
  margin-right: 27vw;
}

.partnerRanges--description {
  font-family: neueHaasUnicaRegular;
  font-size: 25px;
  margin-left: 27vw;
  margin-right: 27vw;
  height: auto;
  position: relative;
  bottom: 40vh;
  padding-bottom: 0vh;
  color: #ffffff;
}
